*.so
/measurements/**
/test_hotcalls
/test
/test.cpp
/.vscode/*
/.idea/*

src/App/*.o
src/App/Enclave_u.c
src/App/Enclave_u.h


src/Enclave/*.o
src/Enclave/Enclave_t.c
src/Enclave/Enclave_t.h

src/Lib/**/*.o

build/**
dataset/**
results/**